<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Rest API</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Start Header -->
    <nav class="navbar sticky-top" style="background-color: #42b983">
      <div class="container">
        <a class="navbar-brand mx-auto" href="#">
          <img
            src="https://blog.flamingtext.com/blog/2024/01/19/flamingtext_com_1705684072_59567995.png"
            alt="Bootstrap"
            height="40"
          />
        </a>
      </div>
    </nav>
    <!-- End Header -->
    <div class="container">
      <h3 class="text-center pt-3 pb-4"><%= title %></h3>
      <table class="table mt-4 table-striped table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">PICTURE</th>
            <th scope="col">CITY</th>
            <th scope="col">RATING</th>
          </tr>
        </thead>
        <tbody>
          <% for (let listes of list) { %>
          <tr>
            <td><%= listes.name %></td>
            <td><%= listes.description %></td>
            <td><%= listes.picture %></td>
            <td><%= listes.city %></td>
            <td><%= listes.rating %></td>
            <td>
              <!-- Update button -->
              <a
                href="#"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#updateModal<%= listes.id %>"
                >Update</a
              >
              <!-- Delete button -->
              <a href="/delete/<%= listes.id %>" class="btn btn-danger"
                >Delete</a
              >

              <!-- Update Modal -->
              <div
                class="modal fade"
                id="updateModal<%= listes.id %>"
                tabindex="-1"
                aria-labelledby="updateModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateModalLabel">
                        Update Data
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <!-- Your update form goes here -->
                      <form action="/update/<%= listes.id %>" method="post">
                        <div class="mb-3">
                          <label for="name" class="form-label">NAME</label>
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            value="<%= listes.name %>"
                            required
                          />
                          <label for="description" class="form-label"
                            >DESCRIPTION</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="description"
                            name="description"
                            value="<%= listes.description %>"
                            required
                          />
                          <label for="picture" class="form-label"
                            >PICTURE</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="picture"
                            name="picture"
                            value="<%= listes.picture %>"
                            required
                          />
                          <label for="city" class="form-label">CITY</label>
                          <input
                            type="text"
                            class="form-control"
                            id="city"
                            name="city"
                            value="<%= listes.city %>"
                            required
                          />
                          <label for="rating" class="form-label">RATING</label>
                          <input
                            type="text"
                            class="form-control"
                            id="rating"
                            name="rating"
                            value="<%= listes.rating %>"
                            required
                          />
                        </div>
                        <!-- UPDATE BUTTON -->
                        <button type="submit" class="btn btn-primary">
                          Update
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <!-- START FORM -->
      <form action="/push" method="post">
        <h3>Tambah Data</h3>
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">NAME</label>
          <div class="col-sm-10">
            <input name="name" type="type" class="form-control" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="description" class="col-sm-2 col-form-label"
            >DESCRIPTION</label
          >
          <div class="col-sm-10">
            <input name="description" type="text" class="form-control" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="picture" class="col-sm-2 col-form-label">PICTURE</label>
          <div class="col-sm-10">
            <input name="picture" type="text" class="form-control" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="city" class="col-sm-2 col-form-label">CITY</label>
          <div class="col-sm-10">
            <input name="city" type="text" class="form-control" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="rating" class="col-sm-2 col-form-label">RATING</label>
          <div class="col-sm-10">
            <input name="rating" type="number" class="form-control" />
          </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Tambahkan" />
      </form>
      <!-- END FORM -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
